{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
대시보드 페이지
{% endblock title %}
{% block content %}
<h1>차트</h1>
<!-- mt은 margin-top, pt는 padding-top -->
<div class="row mt-3 pt-3">
  <!-- 숫자의 의미는 전체를 12로 보고 그 중 4칸을 쓰겠다는 것 -->
  <div class="col-md-4">
    <!-- 보더는 box에 줄 그어줌 -->
    <div class="border p-3 shadow">
      <h4>Add Data</h4>
      <hr>
      <form action="" method="POST">
        {{ form | crispy }} {% csrf_token %}
        <input type="submit" class="btn btn-success btn-block" value="입력">
      </form>
    </div>
  </div>
  <div class="col">
    <canvas id="myChart"></canvas>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      labels: [
        {% for ctry_data in country_datas %}
        '{{ ctry_data.country }}',
        {% endfor %}
      ],
    datasets: [{
      label: '# of Votes',
      // data: [1,2,3,4,5,6], 
      data: [
        {% for ctry_data in country_datas %}
        '{{ ctry_data.population }}',
    {% endfor %}
  ],
    backgroundColor: [
    'rgba(255, 99, 132, 0.2)',
    'rgba(255, 159, 64, 0.2)',
    'rgba(255, 205, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(201, 203, 207, 0.2)'
  ],
    borderColor: [
    'rgb(255, 99, 132)',
    'rgb(255, 159, 64)',
    'rgb(255, 205, 86)',
    'rgb(75, 192, 192)',
    'rgb(54, 162, 235)',
    'rgb(153, 102, 255)',
    'rgb(201, 203, 207)'
  ],
    // 테두리
    borderWidth: 1
      }]
    },
    options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
  });
</script>

</script>

{% endblock script %}